n<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'dashboard' | translate }}
        </a>
        <!-- <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'Catalog' | translate }}
        </a> -->
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('catalog')" >
                <span><i class="fa fa-cart-arrow-down"></i>&nbsp;{{ 'Catalog' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'catalog'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/products']" [routerLinkActive]="['router-link-active']"><span>{{ 'Products' | translate }}</span></a>
                    </li>
                    <!-- <li>
                        <a [routerLink]="['/link-product-attribute']"><span>{{ 'Link Attributes to Products' | translate }}</span></a>
                    </li> -->
                    <li>
                        <a [routerLink]="['/category']" [routerLinkActive]="['router-link-active']"><span>{{ 'Categories' | translate }}</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/manufacturers']" [routerLinkActive]="['router-link-active']"><span>{{ 'Manufacturers' | translate }}</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/specification-attributes']"><span>{{ 'Specification Attributes' | translate }}</span></a>
                    </li>
                    <!-- <li>
                        <a [routerLink]="['/product-reviews']"><span>{{ 'Product Reviews' | translate }}</span></a>
                    </li> -->
                    <!-- <li>
                        <a [routerLink]="['/product-tags']" [routerLinkActive]="['router-link-active']"><span>{{ 'Product Tags' | translate }}</span></a>
                    </li> -->
                    <li>
                        <a [routerLink]="['/product-attributes']"><span>{{ 'Product Attributes' | translate }}</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/stores']"><span>{{ 'Stores' | translate }}</span></a>
                    </li>


                </ul>
            </li>
        </div>

        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('sales')" >
                <span><i class="fa fa-credit-card-alt"></i>&nbsp;{{ 'Sales' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'sales'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/orders']" [routerLinkActive]="['router-link-active']"><span>{{ 'Orders' | translate }}</span></a>
                    </li>
                    <!-- <li>
                        <a href="javascript:void(0)"><span>{{ 'Shipments' | translate }}</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/return-requests']" [routerLinkActive]="['router-link-active']"><span>{{ 'Return Requests' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Recurring Payments' | translate }}</span></a>
                    </li>

                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Gift Cards' | translate }}</span></a>
                    </li> -->

                </ul>
            </li>
        </div>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('customers')" >
                <span><i class="fa fa-fw fa-table"></i>&nbsp;{{ 'Customers' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'customers'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/customers']" [routerLinkActive]="['router-link-active']"><span>{{ 'Customers' | translate }}</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/customer-roles']" [routerLinkActive]="['router-link-active']"><span>{{ 'Customer Roles' | translate }}</span></a>
                    </li>
                    <!-- <li>
                        <a [routerLink]="['/online_customers']" [routerLinkActive]="['router-link-active']"><span>{{ 'Online Customers' | translate }}</span></a>
                    </li> -->
                    <li>
                        <a [routerLink]="['/vendors']" [routerLinkActive]="['router-link-actives']"><span>{{ 'Vendors' | translate }}</span></a>
                    </li>

                    <!-- <li>
                        <a href="javascript:void(0)"><span>{{ 'Activity Log' | translate }}</span></a>
                    </li> -->

                </ul>
            </li>
        </div>


    </ul>
</nav>
