<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;Dashboard
        </a>
        <!-- <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp; 'Catalog'
        </a> -->
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('catalog')" >
                <span><i class="fa fa-cart-arrow-down"></i>&nbsp;Catalog</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'catalog'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/products']" [routerLinkActive]="['router-link-active']"><span>Products</span></a>
                    </li>
                    <!-- <li>
                        <a [routerLink]="['/link-product-attribute']"><span> 'Link Attributes to Products'  </span></a>
                    </li> -->
                    <li>
                        <a [routerLink]="['/category']" [routerLinkActive]="['router-link-active']"><span>Categories</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/manufacturers']" [routerLinkActive]="['router-link-active']"><span>Manufacturers</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/specification-attributes']"><span>Specification Attributes</span></a>
                    </li>
                    <!-- <li>
                        <a [routerLink]="['/product-reviews']"><span> 'Product Reviews'  </span></a>
                    </li> -->
                    <!-- <li>
                        <a [routerLink]="['/product-tags']" [routerLinkActive]="['router-link-active']"><span> 'Product Tags'  </span></a>
                    </li> -->
                    <li>
                        <a [routerLink]="['/product-attributes']"><span>Product Attributes</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/stores']"><span>Stores</span></a>
                    </li>


                </ul>
            </li>
        </div>

        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('sales')" >
                <span><i class="fa fa-credit-card-alt"></i>&nbsp; Sales  </span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'sales'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/orders']" [routerLinkActive]="['router-link-active']"><span> Orders  </span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/return-requests']" [routerLinkActive]="['router-link-active']"><span> Return Requests  </span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/best-seller']" [routerLinkActive]="['best-seller']"><span> Best Seller Report  </span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/never-sold']" [routerLinkActive]="['never-sold']"><span> Never Sold Report  </span></a>
                    </li>
              

                </ul>
            </li>
        </div>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('customers')" >
                <span><i class="fa fa-fw fa-table"></i>&nbsp; Customers  </span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'customers'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/customers']" [routerLinkActive]="['router-link-active']"><span> Customers  </span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/customer-roles']" [routerLinkActive]="['router-link-active']"><span> Customer Roles  </span></a>
                    </li>
                    <!-- <li>
                        <a [routerLink]="['/online_customers']" [routerLinkActive]="['router-link-active']"><span> 'Online Customers'  </span></a>
                    </li> -->
                    <li>
                        <a [routerLink]="['/vendors']" [routerLinkActive]="['router-link-actives']"><span> Vendors  </span></a>
                    </li>

                    <!-- <li>
                        <a href="javascript:void(0)"><span> 'Activity Log'  </span></a>
                    </li> -->

                </ul>
            </li>
        </div>


    </ul>
</nav>
