<div class="container">
<h1>  Specification Attributes Management </h1>
     <hr>
    <div class="row">


      <form role="form" (ngSubmit)="addAttribute(f)" #f="ngForm" class="container">
        <div class="row">
          <div class="col-lg-6">
            <fieldset class="form-group card mb-3">
                <label class="card-header">Specification Attribute</label>
                <input class="form-control" ngModel name="Name" required placeholder="Enter Attribute Name" *ngIf="!editMode">
                <input class="form-control" [(ngModel)]="Name" name="Name" required value="{{Name}}" *ngIf="editMode">
                <!-- <p class="help-block">Example block-level help text here.</p> -->
            </fieldset>

            <button type="submit" class="btn btn-primary" [disabled]="!f.valid" *ngIf="!editMode">Add Attribute</button>
            <button type="submit" class="btn btn-primary" [disabled]="!f.valid" *ngIf="editMode">Edit Attribute</button>
            

        </div>


  </div>
</form>
  </div>
 <hr>
    <div class="row">


            <div class="card mb-3">
                <div class="card-header">
                    <h2>Attribute List</h2>
                    <input type="text" placeholder="Search Attribute" [(ngModel)]="filteredSpecificationAttribute" style="width:100%;">
                </div>
                <div class="card-block table-responsive" style="width:100%;">
                    <table class="table table-bordered" style="table-layout:fixed">
                        <thead class="thead-inverse">
                        <tr>
                            <th>Attribute Id</th>
                            <th>Attribute Name</th>
                            <th>Action</th>


                        </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor =" let i = index;let attribute of attribute | filter: filteredSpecificationAttribute : 'Name'">

                          <td>{{attribute.Id}}</td>
                          <td>{{attribute.Name}}</td>

                          <td><button type="button" name="{{i}}" class="btn btn-primary" (click)="editAttributeMode(c)" #c><i class="fa fa-edit"></i></button>
                          <button type="button" name="{{i}}" class="btn btn-danger" (click)="deleteAttribute(d)" #d><i class="fa fa-times"></i></button></td>
                        </tr>


                        </tbody>
                    </table>
                </div>
            </div>



    </div>
</div>
