<div [@routerTransition]>
    <!-- <h2 class="text-muted">Dashboard <small>Statistics Overview</small></h2>
    <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
                    <div class="carousel-caption">
                        <h3>{{slider.label}}</h3>
                        <p>{{slider.text}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
    <hr> -->
    <div class="row">
        <div class="col-xl-3 col-lg-6">
                <img [src]="loadingImagePath" *ngIf="showOrderCount" alt="">
            <app-stat [bgClass]="'card-primary'" [icon]="'fa-comments'" [count]="orderCount" [label]="'Orders'" [routerLink]="['/orders']" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
                <img [src]="loadingImagePath" *ngIf="showReturnRequestCount" alt="">
            <app-stat [bgClass]="'card-info'" [icon]="'fa-tasks'" [count]="returnRequestCount" [label]="' Return Requests'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
                <img [src]="loadingImagePath" *ngIf="showCustomerCount" alt="">
            <app-stat [bgClass]="'card-success'" [icon]="'fa-shopping-cart'" [count]="customerCount" [label]="'Registered Customers'" [routerLink]="['/customers']" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
                <img [src]="loadingImagePath" *ngIf="showLowStockCount" alt="">
            <app-stat [bgClass]="'card-danger'" [icon]="'fa-support'" [count]="lowStockCount" [label]="'Low Stock Products'"></app-stat>
        </div>
    </div>
    <hr />
    <!-- <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert> -->
    <hr />
    <div class="row">
        <div class="col-lg-8">
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-clock-o fa-fw"></i>Latest Orders
                </div>
              
    <div class="row" >
           
                    
                    <div class="card-block" style="width:100%;">
                        <table class="table table-bordered" style="table-layout:fixed">
                            <thead class="thead-inverse">
                            <tr>
    
                                <th>Order Status</th>
                                <th>Payment Status</th>
                                <th>Shipping Status</th>
                                <th>Customer</th>
                                
                                <th>Total</th>
                                <!-- <th>Action</th> -->
    
    
    
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor ="let order of orderList ">
                              <td>{{order.OrderStatus}}</td>
                              <td>{{order.PaymentStatus}}</td>
                              <td>{{order.ShippingStatus}}</td>
                              <td>{{order.CustomerFullName}}</td>
            
                              <td>{{order.OrderTotal}}</td>
                              <!-- <td><button type="button" name="{{order.Id}}" class="btn btn-primary" (click)="editOrderMode(c)" #c><i class="fa fa-edit"></i></button></td> -->
                            </tr>
    
    
                            </tbody>
                        </table>
                     
                  
                    </div>
                
    
    
    
        </div>
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-bell fa-fw"></i> Best Sellers
                </div>
                <!-- /.card-header -->
                <!-- <app-notification></app-notification> -->
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- <app-chat></app-chat> -->
            <!-- /.card .chat-card -->
        </div>
        <!-- /.col-lg-4 -->
    </div>
</div>
