<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>h:\root\home\piyushdaftary-001\www\dreamsale</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://piyushdaftary-001-site1.ctempurl.com:8172</MSDeployServiceURL>
    <DeployIisAppPath>piyushdaftary-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>ifc\piyushdaftary-001</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DreamSaleConString" Order="1" Enabled="False">
          <Destination Path="Data Source=sql5016.smarterasp.net;Initial Catalog=DB_A28596_dreamSale;User ID=DB_A28596_dreamSale_admin;Password=Pd27081990" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Denmakers.DreamSale.Data.Context.DreamSaleObjectContext, Denmakers.DreamSale.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DreamSaleConString-Web.config Connection String">
      <ParameterValue>Data Source=sql5016.smarterasp.net;Initial Catalog=DB_A28596_dreamSale;User ID=DB_A28596_dreamSale_admin;Password=Pd27081990</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>