<div class="container">
    <h1> Return Request Management </h1>
         <hr>
       
    </div>
    
        <div class="row" *ngIf="showAllReturnRequests">
            <div class="card mb-3">
                    <div class="card-header">
                      <h2>Return Requests</h2>
                    </div>
                    <div class="card-block" style="width:100%;">
                        <table class="table table-bordered" style="table-layout:fixed">
                            <thead class="thead-inverse">
                            <tr>
    
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Customer</th>
                                <th>Order #</th>
                                <th>Return Request Status</th>
                                <th>Date</th>
                                <th>Action</th>
                            
    
    
    
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor ="let returnRequest of returnRequestList">
                              <td>{{returnRequest.ProductName}}</td>
                              <td>{{returnRequest.Quantity}}</td>
                              <td>{{returnRequest.CustomerInfo}}</td>
                              <td>{{returnRequest.OrderId}}</td>
                              <td>{{returnRequest.ReturnRequestStatusStr}}</td>
                              <td>{{returnRequest.CreatedOn | date}}</td>
                              <td><button type="button" name="{{returnRequest.Id}}" class="btn btn-primary" (click)="editReturnRequestMode(c)" #c><i class="fa fa-edit"></i></button></td>
                            </tr>
    
    
                            </tbody>
                        </table>
                         <img [src]="loadingImagePath" *ngIf="loadingOrder" alt=""> 
                      <pagination-controls (pageChange)="getAllReturnRequests($event)" id="ReturnRequests"></pagination-controls>
                    </div>
                </div>
    
    
    
        </div>
 