<div class="container">
    <h1>Product Management</h1>
    <hr>
    <div class="row">


        <form role="form" (ngSubmit)="addProduct(f)" #f="ngForm" class="container">


            <div class="row">
                <div class="col-lg-6">
                    <fieldset class="form-group card mb-3">
                        <label class="card-header">Product Name</label>
                        <input class="form-control" ngModel name="Name" required placeholder="Enter Product Name" *ngIf="!editMode">
                        <!-- <p class="help-block">Example block-level help text here.</p> -->
                        <input class="form-control" [(ngModel)]="Name" name="Name" required value="{{Name}}" *ngIf="editMode">

                    </fieldset>



                    <fieldset class="form-group card mb-3">
                        <label class="card-header">Product Description</label>
                        <textarea class="form-control" rows="3" ngModel name="product_description" required placeholder="Enter Product Description" *ngIf="!editMode"></textarea>
                        <textarea class="form-control" rows="3" [(ngModel)]="product_description" name="product_description" required value="{{product_description}}" *ngIf="editMode"></textarea>
                    </fieldset>
                    <fieldset class="form-group card mb-3">
                        <label class="card-header">Price</label>
                        <input type="number" class="form-control" ngModel name="Price" required placeholder="Enter Price" *ngIf="!editMode">
                        <input type="number" class="form-control" [(ngModel)]="Price" name="Price" required *ngIf="editMode" value="{{Price}}">
                    </fieldset>
                    <fieldset class="form-group card mb-3">
                        <label class="card-header">Product Attributes <span style="color:grey;">(Select Multiple)</span></label>
                        <select class="form-control" *ngIf="!editMode" ngModel name="prod_attributes" required multiple>
              <option *ngFor="let attribute of product_attribute">
                {{attribute.Name}}
              <hr></option>
            </select>
                        <select class="form-control" [(ngModel)]="product_attribute" name="prod_attributes" required *ngIf="editMode" multiple>
              <option *ngFor="let attribute of product_attribute">
                {{attribute.Name}}
              <hr></option>
            </select>
                    </fieldset>


                    <button type="submit" class="btn btn-primary" [disabled]="!f.valid" *ngIf="!editMode">Add Product</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!f.valid" *ngIf="editMode">Edit Product</button>
                    <button type="reset" class="btn btn-danger">Reset Details</button>

                </div>
                <div class="col-lg-6">
                    <fieldset class="form-group card mb-3">
                        <label class="card-header">Category</label>
                        <select class="form-control" *ngIf="!editMode" ngModel name="category" required size="4">
                          <option *ngFor="let category of categories">
                            {{category.Name}}
                          <hr></option>
            </select>
                        <select class="form-control" [(ngModel)]="category" name="category" required *ngIf="editMode" size="4">
                          <option *ngFor="let category of categories">
                            {{category.Name}}
                          <hr></option>
            </select>
                    </fieldset>
                    <fieldset class="form-group card mb-3">
                        <label class="card-header">Product Tags <span style="color:grey;">(Select Multiple)</span></label>
                        <select class="form-control" *ngIf="!editMode" ngModel name="tag_name" required multiple>
              <option *ngFor="let tag of tags">
                {{tag.tag_name}}
              <hr></option>
            </select>
                        <select class="form-control" [(ngModel)]="tag" name="tag_name" required *ngIf="editMode" multiple>
              <option *ngFor="let tag of tags">
                {{tag.tag_name}}
              <hr></option>
            </select>
                    </fieldset>
                    <fieldset class="form-group card mb-3">
                        <label class="card-header">Specification Attributes <span style="color:grey;">(Select Multiple)</span></label>
                        <select class="form-control" *ngIf="!editMode" ngModel name="spec_attributes" required multiple>
              <option *ngFor="let attribute of specification_attribute">
                {{attribute.Name}}
              <hr></option>
            </select>
                        <select class="form-control" [(ngModel)]="specification_attribute" name="spec_attributes" required *ngIf="editMode" multiple>
              <option *ngFor="let attribute of specification_attribute">
                {{attribute.Name}}
              <hr></option>
            </select>
                    </fieldset>


                </div>


            </div>
        </form>
        <!-- Edit Form -->

    </div>
</div>
<hr>
<div class="row">


    <div class="card mb-3">
        <div class="card-header">
            <h2>Product List </h2>
            <input type="text" placeholder="Search by Product Name or Category" [(ngModel)]="filteredProduct" style="width:100%;">
        </div>
        <div class="card-block" style="width:100%;">
            <table class="table table-bordered table-hover" style="table-layout:fixed">
                <thead class="thead-inverse">
                    <tr>

                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Product Attributes</th>
                        <th>Specification Attributes</th>
                        <th>Action</th>


                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i = index ;let product of product | filter: filteredProduct: 'Name':'category' | paginate: { itemsPerPage: 5, currentPage: currentPageNumber }">

                        <td>{{product.Name}}</td>

                        <td>{{product.Price}}</td>


                        <td>
                            <select>
                                <option *ngFor="let rowIndex = index;let a of product.product_attributes" style="list-style:none;"
                                (click)="editProductAttribute(i,rowIndex)">
                                    <a style="cursor:pointer" >{{a}}</a>


                                <hr></option>

                            </select>
                            <div *ngIf="editAttributeMode">
                              <input type="text" placeholder="Enter Value" style="width:100%">
                            </div>
                        </td>

                        <td>
                            <select>
                                <option *ngFor="let j of product.specification_attributes" style="list-style:none;">
                                    {{j}}

                                <hr></option>
                            </select>
                        </td>

                        <td><button type="button" name="{{i}}" class="btn btn-primary" (click)="editProductMode(x)" #x><i class="fa fa-edit"></i></button>
                            <button type="button" name="{{i}}" class="btn btn-danger" (click)="deleteProduct(d)" #d><i class="fa fa-times"></i></button>
                            <button type="button" name="{{i}}" class="btn btn-danger" (click)="deleteProduct(d)" #d><i class="fa fa-camera"></i></button></td>
                    </tr>

                </tbody>
            </table>
            <pagination-controls (pageChange)="currentPageNumber = $event"></pagination-controls>
        </div>
    </div>



</div>
