<div align="center">
    <h1>Product Management</h1>

    <div class="row" style="float: none; margin: 0 auto;">
        <!--Search Product Form -->

        <div *ngIf="searchProductMode" class="col-lg-6" style="float: none; margin: 0 auto;">
            <form role="form" (ngSubmit)="searchProduct(s)" #s="ngForm" style="width:100%">
                <div>
                       <fieldset class="form-group card mb-3">
                        <label class="card-header">Product Name</label>
                        <input class="form-control" ngModel name="Name" placeholder="Enter Product Name">
                    </fieldset>
                    <fieldset class="form-group card mb-3">
                        <label class="card-header">Category</label>
                        <select class="form-control" ngModel name="CategoryId" >
                                  <option *ngFor="let category of categories" value="{{category.Id}}">
                                    {{category.Name}}
                                  <hr></option>
                    </select>
                    </fieldset>
                    <fieldset class="form-group card mb-3">
                        <label class="card-header">Manufacturers</label>
                        <select class="form-control" ngModel name="ManufacturerId">
                                  <option *ngFor="let manufacturer of manufacturers" value="{{manufacturer.Id}}">
                                    {{manufacturer.Name}}
                                  <hr></option>
                    </select>
                    </fieldset></div>
                <div >
                    <fieldset class="form-group card mb-3">
                        <label class="card-header">Vendors</label>
                        <select class="form-control" ngModel name="VendorId">
                                  <option *ngFor="let vendor of vendors" value="{{vendor.Id}}">
                                    {{vendor.Name}}
                                  <hr></option>
                    </select>
                    </fieldset>
                    <fieldset class="form-group card mb-3">
                        <label class="card-header">Stores</label>
                        <select class="form-control" ngModel name="StoreId">
                                  <option *ngFor="let store of stores" value="{{store.Id}}">
                                    {{store.Name}}
                                  <hr></option>
                    </select>
                    </fieldset>

                    <button type="submit" class="btn btn-primary" [disabled]="!s.valid">Search Product</button>


                </div>



            </form>
        <!--End of Search Product Form -->
        <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        </div>


    <!--Add New Product -->
        <div *ngIf="addNewProduct" style="float: none; margin: 0 auto;">
            <div align="center">
                <!-- <span><button class="btn btn-primary" (click)="showToggle(1)">Product Info</button>
                        <button class="btn btn-success" (click)="showToggle(2)">Pictures</button>
                        <button class="btn btn-danger" (click)="showToggle(3)">Product Attributes</button>
                        <button class="btn btn-warning" (click)="showToggle(4)">Specification Attributes</button>
                   </span> -->
            </div>
            <br>
            <div>
                <form role="form" (ngSubmit)="addProduct(f)" #f="ngForm">



                    <fieldset class="form-group card mb-3">
                        <label class="card-header">Product Name (required)</label>
                        <input class="form-control" ngModel name="Name" required placeholder="Enter Product Name" *ngIf="!editMode">
                    </fieldset>
                    <fieldset class="form-group card mb-3">
                        <label class="card-header">Product FullDescription (required)</label>
                        <textarea class="form-control" rows="3" ngModel name="FullDescription" required placeholder="Enter Product FullDescription" *ngIf="!editMode"></textarea>

                    </fieldset>
                    <fieldset class="form-group card mb-3">
                        <label class="card-header">Price (required)</label>
                        <input type="number" class="form-control" ngModel name="Price" required placeholder="Enter Price" *ngIf="!editMode">

                    </fieldset>
                    <fieldset class="form-group card mb-3">
                        <label class="card-header">Stock Quantity (required)</label>
                        <input type="number" class="form-control" ngModel name="StockQuantity" required>
                    </fieldset>







                    <fieldset class="form-group card mb-3">
                        <label class="card-header">Category</label>
                        <select class="form-control" ngModel name="CategoryId" required multiple >
                              <option *ngFor="let category of categories" value="{{category.Id}}">
                                {{category.Name}}
                              <hr></option>
                </select>
                    </fieldset>
                    <fieldset class="form-group card mb-3">
                        <label class="card-header">Manufacturers</label>
                        <select class="form-control" ngModel name="ManufacturerId" required multiple >
                              <option *ngFor="let manufacturer of manufacturers" value="{{manufacturer.Id}}">
                                {{manufacturer.Name}}
                              <hr></option>
                </select>
                    </fieldset>
                    <fieldset class="form-group card mb-3">
                        <label class="card-header">Vendors</label>
                        <select class="form-control" ngModel name="VendorId" required >
                              <option *ngFor="let vendor of vendors" value="{{vendor.Id}}">
                                {{vendor.Name}}
                              <hr></option>
                </select>
                    </fieldset>
                    <fieldset class="form-group card mb-3">
                        <label class="card-header">Stores</label>
                        <select class="form-control" ngModel name="StoreId" required multiple >
                              <option *ngFor="let store of stores" value="{{store.Id}}">
                                {{store.Name}}
                              <hr></option>
                </select>
                    </fieldset>
                    <fieldset class="form-group card mb-3">
                        <label class="card-header">SKU</label>
                        <input type="text" class="form-control" ngModel name="Sku">
                    </fieldset>
                    <fieldset class="form-group card mb-3">
                        <label class="card-header">Published <span>(required)</span></label>
                        <div class="checkbox" style="float:left; margin:5px;">

                            <input type="checkbox" class="form-control" ngModel required name="Published">
                        </div>


                    </fieldset>
                    <fieldset class="form-group card mb-3">
                        <label class="card-header">GTIN(Global Trade Item Number)</label>
                        <input type="text" class="form-control" ngModel name="Gtin">
                    </fieldset>
                    <fieldset class="form-group car mb-3">
                        <label class="card-header">Manufacturer Part Number</label>
                        <input type="text" class="form-control" ngModel name="ManufacturerPartNumber">
                    </fieldset>
                    <fieldset class="form-group card mb-3">
                        <label class="card-header">Show on Home Page <span>(required)</span></label>
                        <div class="checkbox" style="float:left; margin:5px;">

                            <input type="checkbox" class="form-control" ngModel required name="ShowOnHomePage">
                        </div>


                    </fieldset>
                    <fieldset class="form-group card mb-3">
                        <label class="card-header">Mark as New <span>(required)</span></label>
                        <div class="checkbox" style="float:left; margin:5px;">

                            <input type="checkbox" class="form-control" ngModel required name="MarkAsNew">
                        </div>


                    </fieldset>
                    <fieldset class="form-group card mb-3">
                        <label class="card-header">Display Order</label>
                        <input type="Number" class="form-control" ngModel name="DisplayOrder" required placeholder="Enter Display Order">
                    </fieldset>




                    <img [src]="loadingImagePath" *ngIf="loading" alt="">
                    <button type="submit" class="btn btn-primary" [disabled]="!f.valid" *ngIf="!editMode">Add Product</button>
                    <button (click)="showList()" class="btn btn-success">Switch</button>



                </form>
            </div>
            <!--End of Add New Product -->

<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        </div>
    </div>

<hr>
<div class="row" *ngIf="showSearchedProductList">


    <div class="card mb-3">
        <div class="card-header">
           <h2>Product List </h2>
        </div>
        <div class="card-block" style="width:100%;">
            <table class="table table-bordered table-hover" style="table-layout:fixed">
                <thead class="thead-inverse">
                    <tr>
                        <th>Product Picture</th>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Stock Quantity</th>

                        <th>Action</th>


                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of searchedProducts">
                        <td><img [src]="product.PictureThumbnailUrl" alt=""></td>
                        <td>{{product.Name}}</td>

                        <td>{{product.Price}}</td>
                        <td>{{product.StockQuantity}}</td>


                        <td><button type="button" name="{{product.Id}}" class="btn btn-primary" (click)="editProductMode(x)" #x><i class="fa fa-edit"></i></button>
                            <button type="button" name="{{product.Id}}" class="btn btn-danger" (click)="deleteProduct(d)" #d><i class="fa fa-times"></i></button>
                        </td>
                    </tr>

                </tbody>

            </table>

            <button (click)="showList()" class="btn btn-info">Switch</button>

        </div>
    </div>



</div>
<!--Show Products -->
<div class="row" *ngIf="showProductList">


    <div class="card mb-3">
        <div class="card-header">
            <span>   
                 <h2>Product List </h2> 
                 <button class="btn btn-primary" (click)="addProductMode()">Add Product</button>
                 <!-- <p-fileUpload name="myfile[]" url="http://denmakers2-001-site1.gtempurl.com/api/Products/ImportXlsx"></p-fileUpload> -->
                 <input type="file" (change)="fileChange($event)" class="btn btn-success" placeholder="Upload file" accept=".xlsx">
                 <button class="btn btn-danger" (click)="productExport()">Export Products</button>
             </span>
             <!-- <span style="width:20%">
                    <image-upload [max]="1" [url]="'http://denmakers2-001-site1.gtempurl.com/api/Products/ImportXlsx'" [buttonCaption]="'Import Products!'" [dropBoxMessage]="''"  (onFileUploadFinish)="importProducts($event)"></image-upload>
             </span> -->

        </div>
        <div class="card-block" style="width:100%;">
            <table class="table table-bordered table-hover" style="table-layout:fixed">
                <thead class="thead-inverse">
                    <tr>
                        <th>Product Picture</th>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Stock Quantity</th>

                        <th>Action</th>


                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products | paginate: { id:'Products', itemsPerPage: 10, currentPage: currentPageNumber , totalItems: totalProducts}">
                        <td><img [src]="product.PictureThumbnailUrl" alt=""></td>
                        <td>{{product.Name}}</td>

                        <td>{{product.Price}}</td>
                        <td>{{product.StockQuantity}}</td>


                        <td><button type="button" name="{{product.Id}}" class="btn btn-primary" (click)="editProductMode(x)" #x><i class="fa fa-edit"></i></button>
                            <button type="button" name="{{product.Id}}" class="btn btn-danger" (click)="deleteProduct(d)" #d><i class="fa fa-times"></i></button>
                        </td>
                    </tr>

                </tbody>
            </table>
            <img [src]="loadingImagePath" *ngIf="loading" alt="">
            <pagination-controls (pageChange)="currentPageNumber = $event" id="Products"></pagination-controls>
        </div>
    </div>



</div>
<!--End of Product List-->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!--Product Edit Form -->
<div class="row" *ngIf="editMode">
<div class="col-lg-6" style="float: none; margin: 0 auto;">
  <span><button class="btn btn-primary" (click)="showToggle(1)">Product Info</button>
    <button class="btn btn-success" (click)="showToggle(2)">Pictures</button>
    <button class="btn btn-danger" (click)="showToggle(3)">Product Attributes</button>
    <button class="btn btn-warning" (click)="showToggle(4)">Specification Attributes</button>
    <button (click)="showList()" class="btn btn-success">Go Back</button>
   </span>
   </div>
   <div style="height:50px; width:100%"></div>



    <div class="col-lg-6" style="float: none; margin: 0 auto;" *ngIf="showProductInfo" align="center">


        <form role="form" (ngSubmit)="editProduct(t)" #t="ngForm">
            <fieldset class="form-group card mb-3">
                <label class="card-header">Product Name</label>
                <input class="form-control" [(ngModel)]="Name" name="Name" required value="{{Name}}">
              </fieldset>
              <fieldset class="form-group card mb-3">
                  <label class="card-header">FullDescription</label>
                  <textarea class="form-control" rows="3" [(ngModel)]="FullDescription" name="FullDescription" required value="{{FullDescription}}"></textarea>
            </fieldset>
            <fieldset class="form-group card mb-3">
                <label class="card-header">Price</label>
                <input type="number" class="form-control" [(ngModel)]="Price" name="Price" required value="{{Price}}">
            </fieldset>
            <fieldset class="form-group card mb-3">
                <label class="card-header">Stock Quantity</label>
                <input type="number" class="form-control" [(ngModel)]="StockQuantity" name="StockQuantity" value="{{StockQuantity}}">
            </fieldset>
            <!-- <fieldset class="form-group card mb-3">
                    <label class="card-header">Selected Categories</label>
                    <ul class="form-control" style="list-style:none">
                            <li *ngFor="let category of categories">
                                <ul style="list-style:none">
                                    <li *ngFor="let selectedcategory of CategoryId" >
                                        <p *ngIf="selectedcategory===category.Id">{{category.Name}}</p>
                                    </li>
                                    </ul>
                                </li>
                                  </ul>
                 

                </fieldset> -->
            <fieldset class="form-group card mb-3">
                <label class="card-header">Category</label>
                <select class="form-control" [(ngModel)]="CategoryId" name="CategoryId" >
              <option *ngFor="let category of categories" value="{{category.Id}}" >
                {{category.Name}}
              <hr></option>
</select>
            </fieldset>
            <fieldset class="form-group card mb-3">
                <label class="card-header">Manufacturers</label>
                <select class="form-control" [(ngModel)]="ManufacturerId" name="ManufacturerId" >
              <option *ngFor="let manufacturer of manufacturers" value="manufacturer.Id">
                {{manufacturer.Name}}
              <hr></option>
</select>
            </fieldset>
            <fieldset class="form-group card mb-3">
                <label class="card-header">Vendors</label>
                <select class="form-control" [(ngModel)]="VendorId" name="VendorId" >
              <option *ngFor="let vendor of vendors" value="vendor.Id">
                {{vendor.Name}}
              <hr></option>
</select>
            </fieldset>
            <fieldset class="form-group card mb-3">
                <label class="card-header">Stores</label>
                <select class="form-control" [(ngModel)]="StoreId" name="StoreId" >
              <option *ngFor="let store of stores" value="store.Id">
                {{store.Name}}
              <hr></option>
</select>
            </fieldset>
            <fieldset class="form-group card mb-3">
                <label class="card-header">SKU</label>
                <input type="text" class="form-control" [(ngModel)]="Sku" name="Sku" value="{{Sku}}">
            </fieldset>
            <fieldset class="form-group card mb-3">
                <label class="card-header">Published <span>(required)</span></label>
                <div class="checkbox" style="float:left; margin:5px;">

                    <input type="checkbox" class="form-control" [(ngModel)]="Published" name="Published">
                </div>


            </fieldset>
            <fieldset class="form-group card mb-3">
                <label class="card-header">GTIN(Global Trade Item Number)</label>
                <input type="text" class="form-control" [(ngModel)]="Gtin" name="Gtin" value="{{Gtin}}">
            </fieldset>
            <fieldset class="form-group card mb-3">
                <label class="card-header">Manufacturer Part Number</label>
                <input type="text" class="form-control" [(ngModel)]="ManufacturerPartNumber" name="ManufacturerPartNumber" value="{{ManufacturerPartNumber}}">
            </fieldset>
            <fieldset class="form-group card mb-3">
                <label class="card-header">Show on Home Page <span>(required)</span></label>
                <div class="checkbox" style="float:left; margin:5px;">

                    <input type="checkbox" class="form-control" [(ngModel)]="ShowOnHomePage" name="ShowOnHomePage">
                </div>


            </fieldset>
            <fieldset class="form-group card mb-3">
                <label class="card-header">Mark as New <span>(required)</span></label>
                <div class="checkbox" style="float:left; margin:5px;">

                    <input type="checkbox" class="form-control" [(ngModel)]="MarkAsNew" name="MarkAsNew">
                </div>


            </fieldset>
            <fieldset class="form-group card mb-3">
                <label class="card-header">Display Order</label>
                <input type="number" class="form-control" [(ngModel)]="DisplayOrder" name="DisplayOrder" placeholder="Enter Display Order">
            </fieldset>

            <button (click)="showList()" class="btn btn-success">Go Back</button>

            <button type="submit" class="btn btn-primary" [disabled]="!t.valid">Edit Product</button>
        </form>
    </div>


<!-- Attribute Form  -->
<!-- //////////////////////////////////////////////////////////////////////////////// -->
    <div class="col-lg-6" style="float: none; margin: 0 auto;" *ngIf="showProductAttributes">
        <h2>Attributes</h2>
        <!-- <button class="btn btn-primary" (click)="addCurrentAttributeMode()" [disabled]="!addAttributeMode">Add Current Attribute</button> -->
    <hr>
    <div *ngIf="showCurrentAttributeForm">
    <form role="form" (ngSubmit)="addAttribute(q)" #q="ngForm">
        <fieldset class="form-group card mb-3">
            <label class="card-header">Attribute</label>
            <select class="form-control" ngModel name="current_attribute_id" >
          <option *ngFor="let attribute of product_attributes" value="{{attribute.Id}}">
            {{attribute.Name}}
          <hr></option>
      </select>
        </fieldset>

        <fieldset class="form-group card mb-3">
            <label class="card-header">Text Prompt</label>
            <input type="text" class="form-control" rows="3" ngModel name="TextPrompt" required >
        </fieldset>

        <fieldset class="form-group card mb-3">
            <label class="card-header">Is Required </label>
            <div class="checkbox" style="float:left; margin:5px;">

                <input type="checkbox" class="form-control" ngModel name="IsRequired">
            </div>
        </fieldset>

        <fieldset class="form-group card mb-3">
            <label class="card-header">Display Order</label>
            <input type="number" class="form-control" ngModel name="DisplayOrder" placeholder="Enter Display Order">
        </fieldset>

        <button (click)="showList()" class="btn btn-success">Go Back</button>

        <button type="submit" class="btn btn-primary" [disabled]="!q.valid" *ngIf="addAttributeMode">Add Attribute</button>
    </form>
</div>



        <div class="card-block" style="width:100%;" *ngIf="showCurrentAttributeList">
            <table class="table table-bordered table-hover" style="table-layout:fixed">
                <thead class="thead-inverse">
                    <tr>
                        <th>Attribute</th>
                        <th>Text Prompt</th>
                        <th>Is Required</th>
                        <th>Display Order</th>

                        <th>Action</th>


                    </tr>
                </thead>
                <tbody>
                    
                    <tr *ngFor="let i = index;let attributeField of productAttributeFields">
                    <td>{{attributeField.ProductAttribute}} </td>
                    <td>{{attributeField.TextPrompt}}</td>
                    <td>{{attributeField.IsRequired}}</td>
                    <td>{{attributeField.DisplayOrder}}</td>
                    <td>
                        <button type="button" name="{{attributeField.Id}}" class="btn btn-primary" (click)="editCurrentAttributeMode(x)" [disabled]="true" #x><i class="fa fa-edit"></i></button>
                            <button type="button" name="{{attributeField.Id}}" class="btn btn-danger" (click)="deleteCurrentAttribute(d)" #d><i class="fa fa-times"></i></button>
                    </td>
                    </tr>
                </tbody>
            </table>

    </div>


</div>
<!-- End of Attribute Form -->
<!-- /////////////////////////////////////////////////////////////////////////////////////////////// -->
<app-link-product-spec-attributes [ProductId]="Id"  [Attributes] ="productAttributeFields" *ngIf="showSpecificationAttributes"></app-link-product-spec-attributes>
<app-product-pictures [ProductId]="Id" *ngIf="showPictures"></app-product-pictures>


</div>
