<div class="container">
<h1> Link Product To Attribute </h1>
     <hr>
     <div class="row" *ngIf="editMode">


      <form role="form" (ngSubmit)="addAttribute(f)" #f="ngForm" class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2>Product Attributes</h2>
            <hr>

              <fieldset class="form-group card mb-3" *ngFor="let attribute of product_attributes">
                  <label class="card-header">{{attribute}}</label>
                  <input class="form-control" ngModel name="{{attribute}}"  placeholder="Enter Description">
                  <br>

              </fieldset>
              <h2>Specification Attributes</h2>
              <hr>
              <fieldset class="form-group card mb-3" *ngFor="let spec_attributes of specification_attributes">
                  <label class="card-header">{{spec_attributes}}</label>
                  <input class="form-control" ngModel name="{{spec_attributes}}"  placeholder="Enter Description">
                  <br>

              </fieldset>

              <button type="submit" class="btn btn-primary">Link Attributes</button>





          </div>



  </div>
</form>
  </div>
 <hr>
 <div class="row">


     <div class="card mb-3">
         <div class="card-header">
             <h2>Product List </h2>
             <input type="text" placeholder="Search by Product Name or Category" [(ngModel)]="filteredProduct" style="width:100%;">
         </div>
         <div class="card-block" style="width:100%;">
             <table class="table table-bordered table-hover" style="table-layout:fixed">
                 <thead class="thead-inverse">
                     <tr>
                         <th>Product ID</th>
                         <th>Product Name</th>

                         <th>Price</th>
                         <th>Product Category</th>

                         <th>Product Attributes</th>
                         <th>Specification Attributes</th>
                         <th>Action</th>


                     </tr>
                 </thead>
                 <tbody>
                     <tr *ngFor="let i = index ;let product of products | filter: filteredProduct: 'product_name':'category'">
                         <td>{{product.product_id}}</td>
                         <td>{{product.product_name}}</td>

                         <td>{{product.product_price}}</td>
                         <td>{{product.category}}</td>

                         <td>
                             <select>
                                 <option *ngFor="let rowIndex = index;let a of product.product_attributes" style="list-style:none;"
                                 (click)="linkAttributeMode(i,rowIndex)">
                                     <a style="cursor:pointer" >{{a}}</a>


                                 <hr></option>

                             </select>
                             <div *ngIf="editAttributeMode">
                               <input type="text" placeholder="Enter Value" style="width:100%">
                             </div>
                         </td>

                         <td>
                             <select>
                                 <option *ngFor="let j of product.specification_attributes" style="list-style:none;">
                                     {{j}}

                                 <hr></option>
                             </select>
                         </td>

                         <td><button type="button" name="{{i}}" class="btn btn-primary" (click)="linkAttributeMode(x)" #x><i class="fa fa-edit"></i>Link</button>
                             </td>
                     </tr>

                 </tbody>
             </table>
         </div>
     </div>



 </div>
