<div class="container">
<h1>  Product Reviews Management </h1>
     <hr>
    <!-- <div class="row" *ngIf="editMode">


      <form role="form" (ngSubmit)="addAttribute(f)" #f="ngForm" class="container">
        <div class="row">
          <div class="col-lg-6">
            <fieldset class="form-group card mb-3">
                <label class="card-header">Product Review</label>
                <input class="form-control" ngModel name="attribute_name" required placeholder="Enter Attribute Name" *ngIf="!editMode">
                <input class="form-control" [(ngModel)]="attribute_name" name="attribute_name" required value="{{attribute_name}}" *ngIf="editMode">

            </fieldset>

            <button type="submit" class="btn btn-primary" [disabled]="!f.valid" *ngIf="!editMode">Add Attribute</button>
            <button type="submit" class="btn btn-primary" [disabled]="!f.valid" *ngIf="editMode">Edit Attribute</button>
            <button type="reset" class="btn btn-danger">Reset Details</button>

        </div>


  </div>
</form>
  </div> -->
 <hr>
 </div>
    <div class="row">


            <div class="card mb-3">
                <div class="card-header">
                    <h2>Review List</h2>
                    <!-- <input type="text" placeholder="Search Reviews by Product or Customer or Approved" [(ngModel)]="filteredReviews" style="width:100%"> -->
                </div>
                <div class="card-block" style="width:100%;">
                    <table class="table table-bordered" style="table-layout:fixed">
                        <thead class="thead-inverse">
                        <tr>
                            <th>Store</th>
                            <th>Product</th>
                            <th>Customer</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Rating</th>
                            <th>Approved</th>
                            <th>Created On</th>
                            <th>Action</th>

                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i= inex;let review of review">
                                <td>{{review.StoreName}}</td>
                                <td>{{review.ProductName}}</td>
                                <td>{{review.CustomerInfo}}</td>
                                <td>{{review.Title}}</td>
                                <td>{{review.ReviewText}}</td>
                                <td>{{review.Rating}}</td>
                                <td>{{review.IsApproved}}</td>
                                <td>{{review.CreatedOn}}</td>
                                <td><button type="button" name="{{i}}" class="btn btn-primary" (click)="editReviewMode(c)" #c><i class="fa fa-edit"></i></button>
      <button type="button" name="{{i}}" class="btn btn-danger" (click)="deleteReview(d)" #d><i class="fa fa-times"></i></button></td>

                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>



    </div>
