<div class="container-fluid">
<h1> Customer Management </h1>
     <hr>
    <div class="row">
      <form role="form" (ngSubmit)="searchCustomer(c)" #c="ngForm" style="width:100%">

                 <fieldset class="form-group card mb-3">
                  <label class="card-header">Customer Name</label>
                  <input class="form-control" ngModel name="Name" >
              </fieldset>
              <fieldset class="form-group card mb-3">
                  <label class="card-header">Email</label>
                  <input  type="text" class="form-control" ngModel name="Email">

              </fieldset>


              <button type="submit" class="btn btn-primary" [disabled]="!c.valid">Search Customer</button>
      </form>
    </div>
      <div class="row">
      <div  class="center-block" style="float: none; margin: 0 auto;">
        <div class="card mb-3">
                <div class="card-header">
                  <h2>Customers</h2>
                </div>
                <div class="card-block" style="width:100%;">
                    <table class="table table-bordered" style="table-layout:fixed">
                        <thead class="thead-inverse">
                        <tr>

                            <th>Email</th>
                            <th>Name</th>
                            <th>Customer Roles</th>
                            <th>Company Name</th>
                            <th>Active</th>
                            <!-- <th>Created On</th>
                            <th>Last Activity</th> -->
                            <th>Action</th>



                        </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor =" let i = index ;let customer of customerList| paginate: { id:'Customers', itemsPerPage:10 , currentPage: currentPageNumber , totalItems: totalCustomers} " >


                          <td>{{customer.Email}}</td>
                          <td>{{customer.FullName}}</td>
                          <td>{{customer.CustomerRoleNames}}</td>
                          <td>{{customer.Company}}</td>
                          <!-- <td>{{customer.Active}}</td>
                          <td>{{customer.CreatedOn}}</td> -->
                          <td>{{customer.LastActivityDate}}</td>
                          <!-- <td><button type="button" name="{{customer.Id}}" class="btn btn-primary" (click)="editCustomerMode(x)" #x><i class="fa fa-edit"></i></button> -->
                          <td>    <button type="button" name="{{customer.Id}}" class="btn btn-danger" (click)="deleteCustomer(d)" #d><i class="fa fa-times"></i></button>
                                      </td>
                        </tr>

                        </tbody>
                    </table>
                      <img [src]="loadingImagePath" *ngIf="loadingCustomer" alt="">
                      <pagination-controls (pageChange)="getCustomers($event)" id="Customers"></pagination-controls>

                </div>
            </div>
  </div>


    </div>
  </div>
