<div class="container">
<h1> Customer Management </h1>
     <hr>
    <div class="row">
        <div class="card mb-3">
                <div class="card-header">
                  <h2>Customers</h2>
                </div>
                <div class="card-block" style="width:100%;">
                    <table class="table table-bordered" style="table-layout:fixed">
                        <thead class="thead-inverse">
                        <tr>

                            <th>Email</th>
                            <th>Name</th>
                            <th>Customer Roles</th>
                            <th>Company Name</th>
                            <th>Active</th>
                            <th>Created On</th>
                            <th>Last Activity</th>
                            <th>Action</th>



                        </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor =" let i = index ;let customer of customer | paginate: { itemsPerPage: 5, currentPage: currentPageNumber }" >


                          <td>{{customer.CustomerInfo}}</td>
                          <td>{{customer.IpAddress}}</td>
                          <td>{{customer.Location}}</td>
                          <td>{{customer.LastActivity}}</td>
                          <td>{{customer.LastVisitedPage}}</td>
                        </tr>

                        </tbody>
                    </table>
                  <pagination-controls (pageChange)="currentPageNumber = $event"></pagination-controls>
                </div>
            </div>



    </div>
  </div>
